<div class="container">

    <h1 class="titulo">Editar Password: </h1>

    <form class="formulario">
        <div class="form-group">
            <table>
                <tr>
                    <td><label>Password Antiga: </label></td>
                    <input class="insere" #passwordoldInput [(ngModel)]="passwordold" name="passwordold" type="password" /><br><br>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td><label>Nova Password: </label></td>
                    <input class="insere" #passwordnewInput [(ngModel)]="passwordnew" name="passwordnew" type="password" /><br><br>
                </tr>
            </table>
        </div>
    </form>
    <div class="link">
        <button><a routerLink="/perfiladmin" (click)="editarPass(passwordoldInput.value,passwordnewInput.value)" class="botao">Guardar</a></button><br><br>
        <button><a routerLink="/perfiladmin" class="botao">Cancelar</a></button>
    </div>

</div>
