 <%- include('partials/header') %>
<body>
   


        <div class="jumbotron centered">
            <div class="container">
                <i class="fas fa-hospital fa-6x"></i>
                <h1 class="display-3">Página Inicial do Técnico</h1>
                <hr>
                <a class="btn btn-light btn-lg" href="/api/user/perfil" role="button">Meus Dados</a>
                <a class="btn btn-dark btn-lg" href="/api/tecnico/aceitarPedido" role="button">Aceitar Pedido</a>

            </div>
        </div>

        <%- include('partials/footer') %>
