.container {
    background-image: url(https://image.freepik.com/vetores-gratis/limpe-medico-saude-fundo-coracao-batida_1017-8764.jpg);
    text-align: center;
    padding: 20px 0px 40px 0px;
}

.titulo {
    font-size: 40px;
    padding: 10px 0px 10px 0px;
    color: #8E4162;
}

.form-group {
    font-size: 20px;
    text-align: center;
    padding: 5px 400px 10px 400px;
}

.link {
    padding-top: 20px;
    font-size: 25px;
}

.editar {
    font-size: 20px;
    color: white;
    background-color: red;
    margin-left: 10px;
}

.editar:hover {
    background-color: yellow;
    color: white;
}
