<div class="fullscreen">
    <div class="form-container">
        <div *ngIf="errors">
            {{ errors }}
        </div>
        <form (submit)="handleSubmit($event)">

            <h1 class="login">Login</h1>

            <label for="email">Email</label><br>
            <input [(ngModel)]="email" name="email" type="text" /><br><br>

            <label for="password">Password</label><br>
            <input [(ngModel)]="password" name="password" type="password" /><br><br>

            <button class="botao" type="submit">Login</button>
            <!--(click)="login(emailInput.value,passwordInput.value)"-->
        </form>
    </div>
</div>