<header class="header">
    <div class="aside">
        <div class="logotipo">
            <i class="fa fa-home"><strong>Covid-19</strong></i>

        </div>
    </div>
    <div class="link">
        <a routerLink="/login" routerLinkActive="is-selected" [routerLinkActiveOptions]="{ exact: true }">Login</a>
        <a routerLink="/registo" routerLinkActive="is-selected">Registo</a>
    </div>
</header>

<body>
    <div class="fundo">
        <h1>Covid-19</h1>
        <p>Vamos todos ficar bem!</p>
    </div>

</body>